/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  min-width: 100vw;
  margin: 0;
}

.nav-bar li a {
  color: blue;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: saddlebrown;
  padding: 20px 55px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.nav-bar {
  display: flex;
  justify-content: center;
  flex-shrink: inherit;
  list-style: none;
}

.main-content {
  background-image: url(img/Header-llustration-desktop@2x.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 27%;
  padding-right: 3%;
  min-height: 100vh;
  max-width: 60%;
}

.heading {
  padding-top: 170px;
}

.footer {
  list-style: none;
  display: flex;
  width: 50%;
  padding-left: 1px;
  justify-content: center;
}

li:hover {
  text-decoration: aqua;
}

.green {
  color: green;
}

img {
  width: 30px;
  margin: 10px;
}
