body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  flex: 1;
}

.main-content {
  background-image: url(img/Header-llustration-desktop@2x.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30%;
  padding-right: 30%;
  min-height: 90vh;
}

.heading {
  padding-top: 170px;
}

.footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-left: 1px;
}

li:hover{
  font-size: 25px;
}
